body {
    height: 100%;
    background-color: paleturquoise;
    background-repeat: no-repeat;
}

a {
    color: mediumorchid;
}

a:hover {
    color: #333;
}

.btn-primary {
    background-color: mediumorchid;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #333;
    border: 1px solid #333;
}

.title {
    font-size: 1.5rem;
    color: mediumorchid;
    font-family: 'Lobster', cursive;
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: paleturquoise;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
