@import url('https://fonts.googleapis.com/css?family=Lobster');

a,
a:focus,
a:hover {
    color: #333;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #fff;
    text-shadow: none;
    background-color: mediumorchid;
    border: .05rem solid #fff;
}

html,
body {
    height: 100%;
    background-color: paleturquoise;
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
    color: #333;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.masthead-brand {
    font-family: 'Lobster', cursive;
}

.title {
    font-size: 1.5rem;
    color: mediumorchid;
    font-family: 'Lobster', cursive;
}

.cover-container {
    max-width: 50em;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #333;
    border-bottom-color: #333;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

img {
    margin-top: 100px;
    opacity: .2;
    border-radius: 25px;
    transition: .3s ease-in-out;

}

img:hover {
    opacity: 1;
}

.laratalk {
    font-family: 'Lobster', cursive;
    padding-top: 1%;
    text-align: center;
    color: mediumorchid;
    font-style: italic;
    margin: 0 auto 100px auto;
}

.title2 {
    font-family: 'Lobster', cursive;
    float: right;
}

.huls {
    width:100%;
    margin:0 auto 50px auto;
    padding-top: 8%;
    font-family: 'PT Sans', sans-serif;
}

.form-group {
    padding-top: 1%;
    margin: 0 auto;
    width: 30%;
}