.profilelink, .profilelink:hover, .profilelink:visited, .profilelink:active {
    color: #333;
    text-decoration: none;
}

a {
    color: mediumorchid;
}

a:hover {
    color: #333;
}

hr {
    margin: 50px 0;
}

body {
    background-color: paleturquoise;
    background-repeat: no-repeat;
}

.title {
    margin-left: 64px;
    margin-right: 40px;
    font-size: 1.5rem;
    color: mediumorchid;
    font-family: 'Lobster', cursive;
}

.btn-primary {
    border: 1px solid mediumorchid;
    background-color: mediumorchid;
}

.btn-primary:hover {
    border: 1px solid #333;
    background-color: #333;
}

.profilethumb {
    border-radius: 100px;
    height: 100px;
    width: 100px;

}

.postpic {
    border-radius: 5px;
    display: inline-block;
    margin-top: 50px;
    width: 344px;
}
